@import 'theme';
@import 'fonts';

div{
  background: $color1;
  padding: 1rem;
  h1{
    font-size: $h1-fz;
    color: $light-color;
    margin-top: 0;
  }
  h1{
    font-size: $h2-fz;
    color: $light-color;
    margin-top: 0;
    margin-bottom: 0;
  }
}
