@import 'theme';
#table-dark {
  .state-annule {
    background: $color-error;
  }
  .state-confirme {
    background: $color-success;
  }
  .state-option {
    background: $color3;
  }
}
app-template-a {
  #table-dark {
    .state-option {
      background: $color2;
    }
  }
}
app-template-b {
  #table-dark {
    .state-option {
      background: $color1;
    }
  }
}
